Repository ForgetMeNot-FMN/ForgetMeNot-BE: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-garden-service-workflow, run-user-service-workflow, run-habit-service-workflow, run-auth-service-workflow, run-task-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  forgetmenot-monorepo-setup:
    jobs:
      - path-filtering/filter:
          filters:
            branches:
              only: main
          base-revision: main
          mapping: |
            services/garden/.* run-garden-service-workflow true
            services/user/.* run-user-service-workflow true
            services/habit/.* run-habit-service-workflow true
            services/auth/.* run-auth-service-workflow true
            services/task/.* run-task-service-workflow true
          config-path: .circleci/monorepo-pipeline-prod.yml

refactor: Enhance reward system for habits and tasks with transaction support
  services/habit/src/repository/gardenRepository.ts
  services/habit/src/services/habitRepository.ts
  services/habit/src/services/habitService.ts
  services/habit/src/utils/const.ts
  services/task/src/models/taskModel.ts
  services/task/src/services/taskRepository.ts
  services/task/src/services/taskService.ts
  services/task/src/utils/const.ts
Due: run-habit-service-workflow, run-task-service-workflow

fix: Update garden service version and add flower definitions endpoint
  services/garden/package-lock.json
  services/garden/src/controllers/flowerDefinitonsController.ts
  services/garden/src/routes/router.ts
Due: run-garden-service-workflow

feat(strapi-cms): initialize Strapi CMS with award content type and basic configuration
  services/strapi-cms/.env.example
  services/strapi-cms/.gitignore
  services/strapi-cms/README.md
  services/strapi-cms/config/admin.ts
  services/strapi-cms/config/api.ts
  services/strapi-cms/config/database.ts
  services/strapi-cms/config/middlewares.ts
  services/strapi-cms/config/plugins.ts
  services/strapi-cms/config/server.ts
  services/strapi-cms/database/migrations/.gitkeep
  services/strapi-cms/favicon.png
  services/strapi-cms/package-lock.json
  services/strapi-cms/package.json
  services/strapi-cms/public/robots.txt
  services/strapi-cms/public/uploads/.gitkeep
  services/strapi-cms/src/admin/app.example.tsx
  services/strapi-cms/src/admin/tsconfig.json
  services/strapi-cms/src/admin/vite.config.example.ts
  services/strapi-cms/src/api/.gitkeep
  services/strapi-cms/src/api/award/content-types/award/schema.json
  services/strapi-cms/src/api/award/controllers/award.ts
  services/strapi-cms/src/api/award/routes/award.ts
  services/strapi-cms/src/api/award/services/award.ts
  services/strapi-cms/src/extensions/.gitkeep
  services/strapi-cms/src/index.ts
  services/strapi-cms/tsconfig.json
  services/strapi-cms/types/generated/components.d.ts
  services/strapi-cms/types/generated/contentTypes.d.ts
Due: none

feat: integrate Google Cloud Pub/Sub for award event notifications
  services/awards/awards-consumer/Dockerfile
  services/awards/awards-consumer/index.ts
  services/awards/awards-consumer/package-lock.json
  services/awards/awards-consumer/package.json
  services/awards/awards-consumer/server.ts
  services/awards/awards-consumer/src/services/awardsCreateGetClient.ts
  services/awards/awards-consumer/src/utils/const.ts
  services/awards/awards-consumer/src/utils/logger.ts
  services/awards/awards-consumer/tsconfig.json
  services/awards/awards-create-get/Dockerfile
  services/awards/awards-create-get/index.ts
  services/awards/awards-create-get/package-lock.json
  services/awards/awards-create-get/package.json
  services/awards/awards-create-get/server.ts
  services/awards/awards-create-get/src/controllers/awardsController.ts
  services/awards/awards-create-get/src/controllers/healthController.ts
  services/awards/awards-create-get/src/middlewares/authMiddleware.ts
  services/awards/awards-create-get/src/middlewares/internalAuthMiddleware.ts
  services/awards/awards-create-get/src/middlewares/rateLimitMiddleWare.ts
  services/awards/awards-create-get/src/models/authDtos.ts
  services/awards/awards-create-get/src/models/awardsDTO.ts
  services/awards/awards-create-get/src/models/awardsModel.ts
  services/awards/awards-create-get/src/routes/router.ts
  services/awards/awards-create-get/src/services/awardsRepository.ts
  services/awards/awards-create-get/src/services/awardsService.ts
  services/awards/awards-create-get/src/services/firebaseAdmin.ts
  services/awards/awards-create-get/src/utils/const.ts
  services/awards/awards-create-get/src/utils/logger.ts
  services/awards/awards-create-get/tsconfig.json
  services/garden/src/controllers/gardenController.ts
  services/garden/src/controllers/purchaseFlowerController.ts
  services/garden/src/services/awardsClient.ts
Due: run-garden-service-workflow

feat: update awards consumer package and enhance awards service logic
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/awards/awards-consumer/package-lock.json
  services/awards/awards-consumer/package.json
  services/awards/awards-create-get/src/services/awardsService.ts
Due: none

fix: remove redundant dotenv.config() call in environment configuration
  services/awards/awards-consumer/src/utils/const.ts
  services/awards/awards-create-get/src/utils/const.ts
Due: none

fix: correct default value for awards-topic parameter in pipeline configuration
  .circleci/monorepo-pipeline-prod.yml
Due: none

fix: revert version number of awards-consumer to 1.0.0
  services/awards/awards-consumer/package.json
Due: none

Added calendar service, integrated google calendar api and normalize functions, added display functions for garden pots
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/calendar/Dockerfile
  services/calendar/index.ts
  services/calendar/package-lock.json
  services/calendar/package.json
  services/calendar/src/controllers/calendarController.ts
  services/calendar/src/middlewares/authMiddleware.ts
  services/calendar/src/middlewares/rateLimitMiddleWare.ts
  services/calendar/src/models/authDtos.ts
  services/calendar/src/models/internalCalendarModel.ts
  services/calendar/src/routes/router.ts
  services/calendar/src/services/calendarService.ts
  services/calendar/src/services/firebaseAdmin.ts
  services/calendar/src/utils/const.ts
  services/calendar/src/utils/eventNormalizer.ts
  services/calendar/src/utils/logger.ts
  services/calendar/tsconfig.json
  services/garden/src/controllers/flowerController.ts
  services/garden/src/models/flowerModel.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/flowerRepository.ts
  services/garden/src/services/flowerService.ts
Due: run-garden-service-workflow

feat: implement getUserEventsByDateRange function and conflict detection in calendar service
  services/calendar/.env.example
  services/calendar/index.ts
  services/calendar/src/controllers/calendarController.ts
  services/calendar/src/models/conflictModel.ts
  services/calendar/src/models/internalCalendarModel.ts
  services/calendar/src/models/taskModel.ts
  services/calendar/src/repositories/calendarRepository.ts
  services/calendar/src/repositories/taskRepository.ts
  services/calendar/src/routes/router.ts
  services/calendar/src/services/calendarService.ts
  services/calendar/src/utils/const.ts
  services/calendar/src/utils/eventNormalizer.ts
Due: none

feat: add Google Calendar integration with authentication and account management
  services/auth/package-lock.json
  services/auth/src/controllers/authController.ts
  services/auth/src/models/calendarAccountModel.ts
  services/auth/src/repositories/calendarAccountRepository.ts
  services/auth/src/services/googleCalendarAuthService.ts
  services/auth/src/utils/const.ts
Due: run-auth-service-workflow

fix: correct collection name for calendar accounts in repository
  services/auth/src/repositories/calendarAccountRepository.ts
Due: run-auth-service-workflow

fix: downgrade uuid package version from 13.0.0 to 8.3.2 for compatibility
  services/calendar/package-lock.json
  services/calendar/package.json
Due: none

feat: integrate Google Cloud Pub/Sub for calendar event publishing
  services/habit/package-lock.json
  services/habit/package.json
  services/habit/src/clients/calendarEventPublisher.ts
  services/habit/src/services/habitService.ts
  services/habit/src/utils/const.ts
  services/task/package-lock.json
  services/task/package.json
  services/task/src/clients/calendarEventPublisher.ts
  services/task/src/services/taskService.ts
  services/task/src/utils/const.ts
Due: run-habit-service-workflow, run-task-service-workflow

fix: disable conflict checking for habit calendar event publishing
  services/habit/src/services/habitService.ts
Due: run-habit-service-workflow

feat: integrate Google Calendar sync with Pub/Sub
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/repositories/calendarAccountRepository.ts
  services/auth/src/services/googleCalendarAuthService.ts
  services/auth/src/utils/const.ts
Due: run-auth-service-workflow

feat(calendar-service): initialize calendar service with core functionality
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/calendar/calendar-event-consumer/Dockerfile
  services/calendar/calendar-event-consumer/index.ts
  services/calendar/calendar-event-consumer/package-lock.json
  services/calendar/calendar-event-consumer/package.json
  services/calendar/calendar-event-consumer/src/firebaseAdmin.ts
  services/calendar/calendar-event-consumer/src/utils/const.ts
  services/calendar/calendar-event-consumer/src/utils/logger.ts
  services/calendar/calendar-event-consumer/tsconfig.json
  services/calendar/calendar-service/.env.example
  services/calendar/calendar-service/Dockerfile
  services/calendar/calendar-service/index.ts
  services/calendar/calendar-service/package-lock.json
  services/calendar/calendar-service/package.json
  services/calendar/calendar-service/src/controllers/calendarController.ts
  services/calendar/calendar-service/src/middlewares/authMiddleware.ts
  services/calendar/calendar-service/src/middlewares/rateLimitMiddleWare.ts
  services/calendar/calendar-service/src/models/authDtos.ts
  services/calendar/calendar-service/src/models/conflictModel.ts
  services/calendar/calendar-service/src/models/internalCalendarModel.ts
  services/calendar/calendar-service/src/models/taskModel.ts
  services/calendar/calendar-service/src/repositories/calendarRepository.ts
  services/calendar/calendar-service/src/repositories/taskRepository.ts
  services/calendar/calendar-service/src/routes/router.ts
  services/calendar/calendar-service/src/services/calendarService.ts
  services/calendar/calendar-service/src/services/firebaseAdmin.ts
  services/calendar/calendar-service/src/utils/const.ts
  services/calendar/calendar-service/src/utils/eventNormalizer.ts
  services/calendar/calendar-service/src/utils/logger.ts
  services/calendar/calendar-service/tsconfig.json
Due: none

fix: correct directory traversal in calendar service deployment script
  .circleci/monorepo-pipeline-prod.yml
Due: none

fix: update timeMax for Google Calendar event sync to 31 days
  services/auth/src/services/googleCalendarAuthService.ts
Due: run-auth-service-workflow

fix: specify correct path for calendar service workflow in CircleCI config
  .circleci/config.yml
Due: none

fix: remove uuid dependency from package.json and package-lock.json
  services/auth/package-lock.json
  services/auth/package.json
Due: run-auth-service-workflow

fix: update version numbers in package.json for calendar-event-consumer and calendar services
  services/calendar/calendar-event-consumer/package.json
  services/calendar/calendar-service/package.json
Due: none

fix: correct path for calendar-event-consumer in CircleCI config
  .circleci/config.yml
Due: none

fix: update Firebase admin initialization to use getFirestore
  services/calendar/calendar-event-consumer/package-lock.json
  services/calendar/calendar-event-consumer/src/firebaseAdmin.ts
Due: none

fix: set default values for isAllDay and checkConflict in calendar event document
  services/calendar/calendar-event-consumer/index.ts
Due: none

fix: add checkConflict parameter to published Google Calendar events
  services/auth/src/services/googleCalendarAuthService.ts
Due: run-auth-service-workflow

feat: implement conflict resolution handler and update conflict management logic
  services/calendar/calendar-service/src/controllers/calendarController.ts
  services/calendar/calendar-service/src/models/conflictModel.ts
  services/calendar/calendar-service/src/repositories/calendarRepository.ts
  services/calendar/calendar-service/src/repositories/sourceRepository.ts
  services/calendar/calendar-service/src/repositories/taskRepository.ts
  services/calendar/calendar-service/src/routes/router.ts
  services/calendar/calendar-service/src/services/calendarService.ts
Due: none

feat: enhance conflict detection by using UUIDv5 for conflict IDs and streamline conflict data structure
  services/calendar/calendar-service/src/services/calendarService.ts
Due: none

Fix notification scheduling stability and added reminder time endpoints, wasClicked functions
  services/notification/src/controllers/notificationController.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/cloudTasksClient.ts
  services/notification/src/services/notificationDispatcher.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationScheduleEvaluator.ts
  services/notification/src/services/notificationService.ts
Due: none

feat: implement computeStreak function and integrate it into garden watering logic
  services/garden/package-lock.json
  services/garden/src/services/flowerService.ts
  services/garden/src/services/gardenService.ts
Due: run-garden-service-workflow

chore: remove uuid dependency from package.json and package-lock.json
  services/garden/package-lock.json
  services/garden/package.json
Due: run-garden-service-workflow

feat: add externalEventId to calendar event payload and update event ID logic; implement updateHabit and publishCalendarEvent in taskService
  services/calendar/calendar-event-consumer/index.ts
  services/calendar/calendar-service/package-lock.json
  services/calendar/calendar-service/src/controllers/calendarController.ts
  services/habit/src/controllers/habitController.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/habitService.ts
  services/task/src/services/taskService.ts
Due: run-habit-service-workflow, run-task-service-workflow

feat: enhance user onboarding interface and initialize default values in user creation
  services/user/package-lock.json
  services/user/package.json
  services/user/src/models/userModel.ts
  services/user/src/services/userService.ts
Due: run-user-service-workflow

feat: enhance calendar event handling with create and delete actions; add user ID checks and publish events in task and habit services
  services/auth/src/repositories/calendarAccountRepository.ts
  services/auth/src/services/googleCalendarAuthService.ts
  services/calendar/calendar-event-consumer/index.ts
  services/habit/src/clients/calendarEventPublisher.ts
  services/habit/src/services/habitService.ts
  services/task/src/clients/calendarEventPublisher.ts
  services/task/src/services/taskService.ts
Due: run-habit-service-workflow, run-auth-service-workflow, run-task-service-workflow

fix: ensure habit calendar events are always published after habit creation
  services/habit/src/services/habitService.ts
Due: run-habit-service-workflow

Fixed task notifications and deletions
  services/notification/src/controllers/notificationController.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationService.ts
  services/task/package-lock.json
  services/task/src/clients/notificationClient.ts
  services/task/src/services/taskService.ts
Due: run-task-service-workflow

fix: habit progress endpoint to calculate with frontend date input and add award check in water flower endpoint
  services/garden/src/controllers/flowerController.ts
  services/habit/src/controllers/habitController.ts
  services/habit/src/repository/habitCompletionRepository.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/habitService.ts
Due: run-garden-service-workflow, run-habit-service-workflow

fix(notifications): fix broken notification create/cancel/delete flow
  services/habit/src/clients/notificationClient.ts
  services/habit/src/models/habitModel.ts
  services/habit/src/services/habitService.ts
  services/notification/src/controllers/notificationController.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationService.ts
  services/task/src/clients/notificationClient.ts
  services/task/src/models/taskDTO.ts
  services/task/src/models/taskModel.ts
  services/task/src/services/taskService.ts
Due: run-habit-service-workflow, run-task-service-workflow

fix: uuid version in notification service
  services/notification/package-lock.json
  services/notification/package.json
  services/notification/src/controllers/notificationController.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationService.ts
Due: none

fix: notification dispatcher update and for cron notifications mark them as scheduled
  services/notification/src/services/notificationDispatcher.ts
  services/notification/src/services/notificationRepository.ts
  services/task/src/services/taskService.ts
Due: run-task-service-workflow
