Repository ForgetMeNot-FMN/ForgetMeNot-BE: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  forgetmenot-monorepo-setup:
    jobs:
      - path-filtering/filter:
          filters:
            branches:
              only: main
          base-revision: main
          mapping: |
            services/login/.* run-login-service-workflow true
            services/garden/.* run-garden-service-workflow true
            services/user/.* run-user-service-workflow true
          config-path: .circleci/monorepo-pipeline-prod.yml

Set dotenv config path to /temp/.env in multiple files
  services/habit/index.ts
  services/habit/src/services/firebaseAdmin.ts
  services/habit/src/utils/const.ts
Due: none

Add health check endpoint to the habit service
  services/habit/index.ts
Due: none

Remove health check endpoint from habit service
  .circleci/monorepo-pipeline-prod.yml
  services/habit/index.ts
Due: none

Add auth and task service workflows, update Dockerfiles, and configure dotenv for all services
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/auth/Dockerfile
  services/auth/index.ts
  services/garden/Dockerfile
  services/garden/index.ts
  services/habit/_update.sh
  services/task/Dockerfile
  services/task/index.ts
  services/task/package-lock.json
  services/user/Dockerfile
  services/user/index.ts
Due: run-garden-service-workflow, run-user-service-workflow

Refactor auth service to use PORT variable from environment or default to 8080
  services/auth/index.ts
Due: none

Fix health check endpoint to use correct PORT variable
  services/auth/index.ts
  services/auth/src/utils/const.ts
Due: none

Add notification model, repository, service, controller, routes and user notification permission check
  services/notification/Dockerfile
  services/notification/index.ts
  services/notification/package-lock.json
  services/notification/package.json
  services/notification/server.ts
  services/notification/src/controllers/notificationController.ts
  services/notification/src/middlewares/rateLimitMiddleWare.ts
  services/notification/src/models/notificationDTO.ts
  services/notification/src/models/notificationModel.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/firebaseAdmin.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationService.ts
  services/notification/src/services/userClient.ts
  services/notification/src/utils/logger.ts
  services/notification/tsconfig.json
Due: none

Refactor authentication service to use Firebase, remove Google and local auth services, and update related routes and models
  .circleci/monorepo-pipeline-prod.yml
  services/auth/src/controllers/authController.ts
  services/auth/src/models/authDtos.ts
  services/auth/src/routes/router.ts
  services/auth/src/services/firebaseAdmin.ts
  services/auth/src/services/firebaseAuthService.ts
  services/auth/src/services/googleAuthService.ts
  services/auth/src/services/localAuthService.ts
  services/auth/src/utils/logger.ts
  services/garden/src/services/gardenService.ts
Due: run-garden-service-workflow

Remove console log for Firebase ID Token in firebaseLogin method
  services/auth/src/controllers/authController.ts
Due: none

Add GARDEN_SERVICE_URL to environment variables
  services/auth/src/utils/const.ts
Due: none

Refactor authentication handling across services
  services/auth/index.ts
  services/auth/src/services/firebaseAdmin.ts
  services/auth/src/services/firebaseAuthService.ts
  services/auth/src/utils/const.ts
  services/garden/index.ts
  services/garden/src/middlewares/authMiddleware.ts
  services/garden/src/models/authDtos.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/firebaseAdmin.ts
  services/habit/index.ts
  services/habit/package-lock.json
  services/habit/src/middlewares/authMiddleware.ts
  services/habit/src/models/authDtos.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/firebaseAdmin.ts
  services/habit/src/utils/const.ts
  services/login/_update.sh
  services/task/index.ts
  services/task/package-lock.json
  services/task/package.json
  services/task/src/middlewares/authMiddleware.ts
  services/task/src/models/authDtos.ts
  services/task/src/routes/router.ts
  services/task/src/services/firebaseAdmin.ts
  services/task/src/utils/const.ts
  services/user/index.ts
  services/user/src/middlewares/authMiddleware.ts
  services/user/src/models/authDtos.ts
  services/user/src/routes/router.ts
  services/user/src/services/firebaseAdmin.ts
  services/user/src/utils/const.ts
Due: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

add notification service to monorepo deploy pipeline
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
Due: none

Update dotenv configuration to specify custom path for environment variables
  services/auth/src/utils/const.ts
  services/garden/src/utils/const.ts
  services/habit/src/utils/const.ts
  services/task/src/utils/const.ts
  services/user/src/utils/const.ts
Due: run-garden-service-workflow, run-user-service-workflow

Cloud Task için FCM gelmeden permission checkleri ekleme
  services/notification/src/controllers/notificationController.ts
  services/notification/src/models/notificationModel.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/cloudTasksClient.ts
  services/notification/src/services/notificationService.ts
Due: none

Implement notification dispatching and scheduling features
  services/auth/package-lock.json
  services/habit/package-lock.json
  services/notification/package-lock.json
  services/notification/package.json
  services/notification/src/controllers/notificationController.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/fcmService.ts
  services/notification/src/services/notificationDispatcher.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationScheduleEvaluator.ts
  services/notification/src/services/userClient.ts
  services/task/package-lock.json
  services/user/package-lock.json
  services/user/src/models/userModel.ts
Due: run-user-service-workflow

Update deliveryStatus logic to differentiate between immediate and scheduled notifications
  services/notification/src/services/notificationRepository.ts
Due: none

source type filtering added for user notifications
  services/notification/src/controllers/notificationController.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationService.ts
Due: none

Add notification settings and FCM token management to user service
  services/user/src/controllers/userController.ts
  services/user/src/routes/router.ts
  services/user/src/services/firebaseService.ts
  services/user/src/services/userService.ts
Due: run-user-service-workflow

Remove debug log for notifications in dispatchScheduledNotificationsHandler
  services/notification/src/controllers/notificationController.ts
Due: none

Cloud tasks entegre edildi
  services/notification/package-lock.json
  services/notification/package.json
  services/notification/src/controllers/notificationController.ts
  services/notification/src/services/cloudTasksClient.ts
  services/notification/src/services/notificationDispatcher.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationScheduleEvaluator.ts
  services/notification/src/services/notificationService.ts
Due: none

Refactor FcmService to log message before sending FCM push notification
  services/notification/src/services/fcmService.ts
Due: none

Fix notification payload type conversion and enhance error handling for invalid FCM tokens
  services/notification/src/services/notificationDispatcher.ts
Due: none

Solved the router problem
  services/notification/src/services/cloudTasksClient.ts
Due: none

Implement flower definitions service and routes with caching mechanism
  services/garden/package-lock.json
  services/garden/src/controllers/flowerDefinitonsController.ts
  services/garden/src/models/flowerDefinitonModel.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/flowerDefinitions/FlowerDefinitionService.ts
  services/garden/src/services/flowerDefinitions/flowerDefinitionRepository.ts
  services/garden/src/services/flowerDefinitions/flowerDefinitonCache.ts
Due: run-garden-service-workflow

Add notification feature and integrate notification client
  services/task/package-lock.json
  services/task/package.json
  services/task/src/clients/gardenClient.ts
  services/task/src/clients/notificationClient.ts
  services/task/src/models/taskDTO.ts
  services/task/src/services/taskService.ts
  services/task/src/utils/const.ts
Due: none

Refactor FlowerDefinition model and repository to replace 'isActive' with 'inStore' for better clarity and consistency
  services/garden/src/models/flowerDefinitonModel.ts
  services/garden/src/services/flowerDefinitions/FlowerDefinitionService.ts
  services/garden/src/services/flowerDefinitions/flowerDefinitionRepository.ts
Due: run-garden-service-workflow

Add notification functionality for habit creation and deletion; include axios dependency
  services/habit/package-lock.json
  services/habit/package.json
  services/habit/src/clients/notificationClient.ts
  services/habit/src/models/habitModel.ts
  services/habit/src/services/habitService.ts
Due: none

Refactor habit notification creation logic and enhance error handling
  services/habit/src/services/habitService.ts
Due: none

Flower purchase flow has been added.
  services/garden/src/controllers/purchaseFlowerController.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/purchaseFlowerService.ts
Due: run-garden-service-workflow

Updated flower purchase, plant, water, inventory mechanics
  services/garden/src/controllers/flowerController.ts
  services/garden/src/controllers/gardenController.ts
  services/garden/src/models/flowerModel.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/flowerService.ts
  services/garden/src/services/gardenService.ts
  services/garden/src/services/purchaseFlowerService.ts
Due: run-garden-service-workflow

Increase rate limit to 100 requests per IP
  services/auth/src/middleware/rateLimitMiddleware.ts
  services/garden/src/middlewares/rateLimitMiddleware.ts
  services/habit/src/middlewares/rateLimitMiddleware.ts
  services/notification/src/middlewares/rateLimitMiddleWare.ts
  services/task/src/middlewares/rateLimitMiddleWare.ts
  services/user/src/middlewares/rateLimitMiddleware.ts
Due: run-garden-service-workflow, run-user-service-workflow

Refactor firebaseAuthService to streamline user creation and garden setup process
  services/auth/src/services/firebaseAuthService.ts
Due: none

Update notification delivery logic to handle cancelled notifications
  services/notification/src/services/notificationScheduleEvaluator.ts
  services/task/src/clients/notificationClient.ts
Due: none

Fix notification timezone default to UTC in habit and task clients
  services/habit/src/clients/notificationClient.ts
  services/task/src/clients/notificationClient.ts
Due: none

Fix default timezone for habit notifications to UTC
  services/habit/src/services/habitService.ts
Due: none

Add taskId to notification creation and update notification cancellation logic
  services/task/src/clients/notificationClient.ts
  services/task/src/services/taskRepository.ts
  services/task/src/services/taskService.ts
Due: none

Added character definitions, character endpoints, purchase and inventory related functions
  services/garden/src/controllers/characterController.ts
  services/garden/src/controllers/characterDefinitionController.ts
  services/garden/src/controllers/purchaseCharacterController.ts
  services/garden/src/models/characterDefinitionModel.ts
  services/garden/src/models/characterModel.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/characterDefinitions/characterDefinitionCache.ts
  services/garden/src/services/characterDefinitions/characterDefinitionRepository.ts
  services/garden/src/services/characterDefinitions/characterDefinitionService.ts
  services/garden/src/services/characterService.ts
  services/garden/src/services/flowerDefinitions/FlowerDefinitionService.ts
  services/garden/src/services/flowerDefinitions/flowerDefinitionCache.ts
  services/garden/src/services/purchaseCharacterItemService.ts
Due: run-garden-service-workflow

feat: Implement garden notification system with cron job and notification management
  services/garden/index.ts
  services/garden/src/routes/cronRouter.ts
  services/garden/src/services/flowerRepository.ts
  services/garden/src/services/flowerService.ts
  services/garden/src/services/gardenNotificationJob.ts
  services/garden/src/services/notificationClient.ts
Due: run-garden-service-workflow

fix: Update Docker image version for garden and notification services
  .circleci/monorepo-pipeline-prod.yml
  services/garden/package.json
Due: run-garden-service-workflow

fix: Update Docker image version for user, habit, task, and auth services
  .circleci/monorepo-pipeline-prod.yml
Due: none
