Repository ForgetMeNot-FMN/ForgetMeNot-BE: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-garden-service-workflow, run-user-service-workflow, run-habit-service-workflow, run-auth-service-workflow, run-task-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  forgetmenot-monorepo-setup:
    jobs:
      - path-filtering/filter:
          filters:
            branches:
              only: main
          base-revision: main
          mapping: |
            services/garden/.* run-garden-service-workflow true
            services/user/.* run-user-service-workflow true
            services/habit/.* run-habit-service-workflow true
            services/auth/.* run-auth-service-workflow true
            services/task/.* run-task-service-workflow true
          config-path: .circleci/monorepo-pipeline-prod.yml

feat(ai): implement user context builder with timezone support and internal auth
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/ai/Dockerfile
  services/ai/index.ts
  services/ai/package-lock.json
  services/ai/package.json
  services/ai/server.ts
  services/ai/src/controllers/contextController.ts
  services/ai/src/controllers/feedbackController.ts
  services/ai/src/controllers/messageGenerationController.ts
  services/ai/src/middlewares/internalServiceAuthMiddleware.ts
  services/ai/src/middlewares/rateLimitMiddleware.ts
  services/ai/src/models/decisionModel.ts
  services/ai/src/models/feedbackModel.ts
  services/ai/src/models/messageGenerationModel.ts
  services/ai/src/models/userContextModel.ts
  services/ai/src/repositories/userContextRepository.ts
  services/ai/src/routes/router.ts
  services/ai/src/services/contextBuilderService.ts
  services/ai/src/services/firebaseAdmin.ts
  services/ai/src/utils/const.ts
  services/ai/src/utils/logger.ts
  services/ai/tsconfig.json
Due: none

Fixed index.ts
  services/ai/index.ts
Due: none

implement notification decision engine with context-aware logic
  services/ai/src/controllers/decisionController.ts
  services/ai/src/controllers/feedbackController.ts
  services/ai/src/controllers/messageGenerationController.ts
  services/ai/src/routes/router.ts
  services/ai/src/services/notificationDecisionService.ts
Due: none

Added notification generation router
  services/ai/src/routes/router.ts
Due: none

Fixed default fallback messages
  services/ai/src/controllers/messageGenerationController.ts
Due: none

fix: user creation in firebase will also have default onboarding info
  services/auth/src/services/firebaseAuthService.ts
Due: run-auth-service-workflow

feat(calendar-sync-job): initialize calendar sync job service with Google Calendar integration
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/calendar/calendar-sync-job/.env.example
  services/calendar/calendar-sync-job/index.ts
  services/calendar/calendar-sync-job/package-lock.json
  services/calendar/calendar-sync-job/package.json
  services/calendar/calendar-sync-job/src/controllers/syncJobController.ts
  services/calendar/calendar-sync-job/src/middlewares/internalAuthMiddleware.ts
  services/calendar/calendar-sync-job/src/models/calendarAccountModel.ts
  services/calendar/calendar-sync-job/src/models/internalCalendarModel.ts
  services/calendar/calendar-sync-job/src/repositories/calendarAccountRepository.ts
  services/calendar/calendar-sync-job/src/repositories/calendarEventRepository.ts
  services/calendar/calendar-sync-job/src/routes/router.ts
  services/calendar/calendar-sync-job/src/services/firebaseAdmin.ts
  services/calendar/calendar-sync-job/src/services/googleCalendarService.ts
  services/calendar/calendar-sync-job/src/services/googleTokenService.ts
  services/calendar/calendar-sync-job/src/services/syncJobService.ts
  services/calendar/calendar-sync-job/src/utils/const.ts
  services/calendar/calendar-sync-job/src/utils/logger.ts
  services/calendar/calendar-sync-job/tsconfig.json
Due: none

fix(habitService): handle not found cases by returning empty array or null instead of throwing errors
  services/habit/package-lock.json
  services/habit/src/services/habitService.ts
Due: run-habit-service-workflow

feat(habit-sync): implement habit event projection and internal authentication middleware
  services/calendar/calendar-service/src/controllers/calendarController.ts
  services/calendar/calendar-service/src/middlewares/internalAuthMiddleware.ts
  services/calendar/calendar-service/src/models/habitModel.ts
  services/calendar/calendar-service/src/repositories/sourceRepository.ts
  services/calendar/calendar-service/src/routes/router.ts
  services/calendar/calendar-service/src/services/calendarService.ts
  services/calendar/calendar-service/src/utils/const.ts
Due: none

feat(conflict-resolution): enhance resolveConflict function to handle multi-task conflicts with targetSourceId
  services/calendar/calendar-service/package-lock.json
  services/calendar/calendar-service/src/controllers/calendarController.ts
  services/calendar/calendar-service/src/services/calendarService.ts
Due: none

Add notification feedback tracking for AI prompt context
  services/ai/src/controllers/messageGenerationController.ts
  services/ai/src/models/feedbackModel.ts
  services/ai/src/models/messageGenerationModel.ts
  services/ai/src/models/userContextModel.ts
  services/ai/src/repositories/userContextRepository.ts
  services/ai/src/services/contextBuilderService.ts
  services/ai/src/services/notificationPromptContextService.ts
  services/habit/src/clients/notificationClient.ts
  services/habit/src/services/habitService.ts
  services/notification/src/controllers/notificationController.ts
  services/notification/src/models/notificationLogModel.ts
  services/notification/src/routes/router.ts
  services/notification/src/services/notificationRepository.ts
  services/notification/src/services/notificationService.ts
  services/task/src/clients/notificationClient.ts
  services/task/src/services/taskService.ts
Due: run-habit-service-workflow, run-task-service-workflow

Added clicked for consistency
  services/ai/src/models/feedbackModel.ts
Due: none

feat(awardsService): add retry logic for fetching awards on 503 errors
  services/awards/awards-create-get/src/services/awardsService.ts
Due: none

docs(README): add detailed backend documentation including architecture, specifications, and services
  README.md
Due: none

feat(services): add health check endpoint to all services
  services/ai/index.ts
  services/awards/awards-create-get/index.ts
  services/calendar/calendar-service/index.ts
  services/calendar/calendar-sync-job/index.ts
  services/garden/index.ts
  services/habit/index.ts
  services/notification/index.ts
  services/task/index.ts
  services/user/index.ts
Due: run-garden-service-workflow, run-user-service-workflow, run-habit-service-workflow, run-task-service-workflow

Added personalized notification fallback
  services/ai/src/controllers/messageGenerationController.ts
  services/ai/src/models/decisionModel.ts
  services/ai/src/models/messageGenerationModel.ts
  services/ai/src/services/notificationFallbackService.ts
  services/ai/src/services/notificationPromptContextService.ts
Due: none

feat(ai): integrate Google Generative AI for personalized notifications and improve message generation logic
  services/ai/package-lock.json
  services/ai/package.json
  services/ai/src/controllers/llmMessageGenerationController.ts
  services/ai/src/controllers/messageGenerationController.ts
  services/ai/src/models/llmModels.ts
  services/ai/src/services/llmService.ts
  services/ai/src/services/messageGeneratorService.ts
  services/ai/src/services/promptBuilderService.ts
  services/ai/src/utils/const.ts
Due: none

refactor: remove llmMessageGenerationController and related notification logic
  services/ai/src/controllers/llmMessageGenerationController.ts
Due: none

add technical mapping and release tagging documentation
  README.md
  RELEASES.md
  TECHNICAL_MAPPING.md
Due: none

feat(chat): implement chat functionality with message handling, session management, and user preferences
  services/ai/package-lock.json
  services/ai/package.json
  services/ai/src/controllers/chatController.ts
  services/ai/src/middlewares/authMiddleware.ts
  services/ai/src/models/authDtos.ts
  services/ai/src/models/chatModel.ts
  services/ai/src/repositories/chatRepository.ts
  services/ai/src/repositories/chatStatsRepository.ts
  services/ai/src/routes/router.ts
  services/ai/src/services/chatContextService.ts
  services/ai/src/services/geminiChatService.ts
  services/ai/src/services/systemPromptService.ts
  services/ai/src/utils/const.ts
Due: none

fix: resolve package.json conflict with main, regenerate lock file
  services/ai/package-lock.json
  services/ai/package.json
Due: none

feat(crypto): implement message encryption and decryption functions with tests
  services/ai/__tests__/utils/crypto.test.ts
  services/ai/src/repositories/chatRepository.ts
  services/ai/src/utils/const.ts
  services/ai/src/utils/crypto.ts
Due: none

fix(habit): update notification time handling in calendar event publishing
  services/habit/src/services/habitService.ts
Due: run-habit-service-workflow

feat(user): add userLanguage field with default value and update related tests
  services/auth/__tests__/services/firebaseAuthService.test.ts
  services/auth/src/services/firebaseAuthService.ts
  services/user/__tests__/services/userService.test.ts
  services/user/package-lock.json
  services/user/src/models/userModel.ts
  services/user/src/services/userService.ts
Due: run-user-service-workflow, run-auth-service-workflow

feat(user): add userLanguage field with default value and update related tests
  services/user/__tests__/services/userService.test.ts
  services/user/src/models/userModel.ts
  services/user/src/services/userService.ts
  services/user/tsconfig.json
Due: run-user-service-workflow

feat(auth): add uiMode field to user creation and update tests
  services/auth/__tests__/services/firebaseAuthService.test.ts
  services/auth/src/services/firebaseAuthService.ts
  services/auth/tsconfig.json
Due: run-auth-service-workflow

character required slots updated
  services/garden/src/services/characterService.ts
Due: run-garden-service-workflow

feat(user): rename delete method to deleteAllUserData and update related service logic
  services/user/__tests__/services/userService.test.ts
  services/user/src/services/firebaseService.ts
  services/user/src/services/userService.ts
Due: run-user-service-workflow

Added daily LLM notification dispatch for all users
  services/ai/__tests__/services/llmNotificationScheduleService.test.ts
  services/ai/index.ts
  services/ai/server.ts
  services/ai/src/controllers/messageGenerationController.ts
  services/ai/src/models/userContextModel.ts
  services/ai/src/repositories/userContextRepository.ts
  services/ai/src/routes/router.ts
  services/ai/src/services/llmNotificationScheduleService.ts
  services/ai/src/services/llmNotificationService.ts
  services/ai/src/services/notificationClient.ts
  services/ai/src/utils/const.ts
  services/ai/tsconfig.json
Due: none

feat(user): add additional Firestore collections for user data retrieval
  services/user/src/services/firebaseService.ts
Due: run-user-service-workflow

Added turkish and english namings for flowers and character items
  services/garden/package-lock.json
  services/garden/src/controllers/characterController.ts
  services/garden/src/controllers/characterDefinitionController.ts
  services/garden/src/controllers/flowerController.ts
  services/garden/src/controllers/flowerDefinitonsController.ts
  services/garden/src/controllers/gardenController.ts
  services/garden/src/controllers/purchaseCharacterController.ts
  services/garden/src/controllers/purchaseFlowerController.ts
  services/garden/src/models/characterDefinitionModel.ts
  services/garden/src/models/characterModel.ts
  services/garden/src/models/flowerDefinitonModel.ts
  services/garden/src/models/flowerModel.ts
  services/garden/src/services/characterDefinitions/characterDefinitionService.ts
  services/garden/src/services/characterService.ts
  services/garden/src/services/flowerDefinitions/FlowerDefinitionService.ts
  services/garden/src/services/flowerService.ts
  services/garden/src/services/gardenService.ts
  services/garden/src/services/purchaseCharacterItemService.ts
  services/garden/src/services/purchaseFlowerService.ts
  services/garden/src/services/userLanguageService.ts
  services/garden/src/utils/localization.ts
Due: run-garden-service-workflow

Fixed garden notification loop
  services/garden/src/services/gardenNotificationJob.ts
Due: run-garden-service-workflow

Fixed timezone inconsistency
  services/ai/src/services/contextBuilderService.ts
  services/ai/src/services/llmNotificationService.ts
  services/ai/src/services/notificationPromptContextService.ts
Due: none

Added logs for llm notifications
  services/ai/src/services/llmNotificationService.ts
Due: none

Refactor chat routes to use userId from params and update keyGenerator for rate limiting
  services/ai/src/controllers/chatController.ts
  services/ai/src/routes/router.ts
Due: none

feat: add userLanguage support and Turkish localization for notifications
  services/ai/__tests__/models/llmModels.test.ts
  services/ai/__tests__/services/messageGeneratorService.test.ts
  services/ai/__tests__/services/notificationDecisionService.test.ts
  services/ai/__tests__/services/notificationFallbackService.test.ts
  services/ai/__tests__/services/promptBuilderService.test.ts
  services/ai/package-lock.json
  services/ai/src/models/llmModels.ts
  services/ai/src/models/userContextModel.ts
  services/ai/src/services/contextBuilderService.ts
  services/ai/src/services/messageGeneratorService.ts
  services/ai/src/services/notificationFallbackService.ts
  services/ai/src/services/promptBuilderService.ts
Due: none

Implement user data analysis feature with corresponding tests and service logic
  services/user/__tests__/controllers/userDataAnalysisController.test.ts
  services/user/__tests__/services/userDataAnalysisService.test.ts
  services/user/package-lock.json
  services/user/package.json
  services/user/src/controllers/userDataAnalysisController.ts
  services/user/src/models/userDataAnalysisModel.ts
  services/user/src/routes/router.ts
  services/user/src/services/userDataAnalysisRepository.ts
  services/user/src/services/userDataAnalysisService.ts
  services/user/src/utils/const.ts
Due: run-user-service-workflow

Add logging for user data analysis process and validation errors
  services/user/src/controllers/userDataAnalysisController.ts
  services/user/src/services/userDataAnalysisRepository.ts
  services/user/src/services/userDataAnalysisService.ts
Due: run-user-service-workflow

fix: preserve existing timestamps for notification feedback logging
  services/notification/src/services/notificationRepository.ts
Due: none
