Repository ForgetMeNot-FMN/ForgetMeNot-BE: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

feat: add production service account key configuration
  config/prod/forgetmenot-prod-key.json
Due: none

feat: update version to 1.0.1 and add build script; remove unused const.ts file
  services/login/package.json
  services/login/src/utils/const.ts
Due: run-login-service-workflow

feat: restore Dockerfiles for garden, login, and user services
  services/garden/Dockerfile
  services/login/Dockerfile
  services/user/Dockerfile
Due: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

feat: remove update script execution from login service deployment
  .circleci/monorepo-pipeline-prod.yml
Due: none

feat: update service versions and fix project ID in deployment configuration
  .circleci/monorepo-pipeline-prod.yml
  services/garden/package.json
  services/login/package.json
  services/user/package.json
Due: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

feat: update Dockerfiles for garden, login, and user services to streamline build process
  services/garden/Dockerfile
  services/login/Dockerfile
  services/user/Dockerfile
Due: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

feat(auth): initialize authentication service with Google and local login methods
  services/auth/Dockerfile
  services/auth/_update.sh
  services/auth/index.ts
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/server.ts
  services/auth/src/controllers/authController.ts
  services/auth/src/middleware/authMiddleware.ts
  services/auth/src/models/authDtos.ts
  services/auth/src/routes/router.ts
  services/auth/src/services/firebaseAdmin.ts
  services/auth/src/services/googleAuthService.ts
  services/auth/src/services/localAuthService.ts
  services/auth/src/services/tokenService.ts
  services/auth/src/utils/const.ts
  services/auth/src/utils/logger.ts
  services/auth/tsconfig.json
Due: none

feat(auth): integrate Firebase user creation in local registration process
  services/auth/src/services/localAuthService.ts
Due: none

feat(login): update environment configuration for production deployment
  .circleci/monorepo-pipeline-prod.yml
  config/prod/login-service-env.yaml
  services/login/_update.sh
  services/login/package.json
Due: run-login-service-workflow

feat(habit): initialize package and add habit model
  services/habit/package-lock.json
  services/habit/package.json
  services/habit/src/models/habitModel.ts
Due: none

feat(habit): implement habit service with CRUD operations and Docker setup
  services/habit/Dockerfile
  services/habit/index.ts
  services/habit/server.ts
  services/habit/src/controllers/habitController.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/firebaseAdmin.ts
  services/habit/src/services/habitRepository.ts
  services/habit/src/services/habitService.ts
  services/habit/src/utils/const.ts
  services/habit/src/utils/logger.ts
  services/habit/tsconfig.json
Due: none

feat(habit): refactor createHabitHandler and enhance habitDTO structure
  services/habit/src/controllers/habitController.ts
  services/habit/src/models/habitModel.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/habitService.ts
  services/habit/src/utils/const.ts
Due: none

feat(user-service): update deployment script and environment configuration for production
  .circleci/monorepo-pipeline-prod.yml
  config/prod/user-service-env.yaml
  services/user/_update.sh
  services/user/package.json
Due: run-user-service-workflow

feat(pipeline): remove auth file path parameter and update service account authentication method
  .circleci/monorepo-pipeline-prod.yml
  config/prod/forgetmenot-prod-key.json
  services/user/package.json
Due: run-user-service-workflow

feat(habit): update habit retrieval and deletion logic to use habitId from params
  services/habit/src/controllers/habitController.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/habitRepository.ts
  services/habit/src/services/habitService.ts
Due: none

feat(habit): add habit service deployment to CircleCI pipeline and update environment file references
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
  services/login/_update.sh
Due: run-login-service-workflow

feat(pipeline): remove login service workflow from CircleCI configuration
  .circleci/config.yml
  .circleci/monorepo-pipeline-prod.yml
Due: none

feat(habit): bump version to 1.0.2 in package.json
  services/habit/package.json
Due: none

feat(habit): update deployment command to use Cloud Run and add start script
  .circleci/monorepo-pipeline-prod.yml
  services/habit/package.json
Due: none

feat(habit): add engines field to specify Node.js version
  services/habit/package.json
Due: none

fix(pipeline): update ingress settings in CircleCI configuration feat(habit): bump version to 1.0.3 in package.json
  .circleci/monorepo-pipeline-prod.yml
  services/habit/package.json
Due: none

fix(pipeline): update ingress setting to use cloud load balancing feat(habit): bump version to 1.0.4 in package.json
  .circleci/monorepo-pipeline-prod.yml
  services/habit/package.json
Due: none

fix(pipeline): add --quiet flag to deployment command for cleaner output feat(habit): bump version to 1.0.5 in package.json
  .circleci/monorepo-pipeline-prod.yml
  services/habit/package.json
Due: none

feat(garden, habit): enhance garden and habit services with new features and models
  services/garden/package-lock.json
  services/garden/package.json
  services/garden/src/controllers/gardenController.ts
  services/garden/src/models/flowerModel.ts
  services/garden/src/models/gardenModel.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/flowerRepository.ts
  services/garden/src/services/gardenRepository.ts
  services/garden/src/services/gardenService.ts
  services/garden/src/utils/enums.ts
  services/habit/package-lock.json
  services/habit/package.json
  services/habit/src/controllers/habitController.ts
  services/habit/src/models/habitModel.ts
  services/habit/src/repository/gardenRepository.ts
  services/habit/src/repository/habitCompletionRepository.ts
  services/habit/src/routes/router.ts
  services/habit/src/services/habitService.ts
Due: run-garden-service-workflow

fix(docker): update Node.js version to 22-alpine and adjust file copy paths fix(logger): correct service name to 'habit-service'
  services/habit/Dockerfile
  services/habit/src/utils/logger.ts
Due: none

Remove login service and related files; add global rate limiting middleware to user service
  lib/middlewares/rateLimitMiddleware.ts
  services/auth/index.ts
  services/auth/src/middleware/rateLimitMiddleware.ts
  services/garden/index.ts
  services/garden/src/middlewares/rateLimitMiddleware.ts
  services/habit/index.ts
  services/habit/src/middlewares/rateLimitMiddleware.ts
  services/login/Dockerfile
  services/login/index.ts
  services/login/package-lock.json
  services/login/package.json
  services/login/server.ts
  services/login/src/routes/router.ts
  services/login/src/services/loginService.ts
  services/login/src/services/verifyService.ts
  services/login/src/utils/const.ts
  services/login/tsconfig.json
  services/user/index.ts
  services/user/src/middlewares/rateLimitMiddleware.ts
Due: run-login-service-workflow, run-garden-service-workflow, run-user-service-workflow

fix(habit): update Dockerfile to use node:22-slim and increment package version to 1.0.6
  services/habit/Dockerfile
  services/habit/package.json
Due: none

Task service implementation
  services/task/Dockerfile
  services/task/index.ts
  services/task/package-lock.json
  services/task/package.json
  services/task/server.ts
  services/task/src/controllers/taskController.ts
  services/task/src/models/taskModel.ts
  services/task/src/routes/router.ts
  services/task/src/services/firebaseAdmin.ts
  services/task/src/services/taskRepository.ts
  services/task/src/services/taskService.ts
  services/task/src/utils/logger.ts
  services/task/tsconfig.json
Due: none

feat: flower endpoints eklendi, service, controller, logger yazıldı, taskService düzenlendi.
  services/garden/package-lock.json
  services/garden/package.json
  services/garden/src/controllers/flowerController.ts
  services/garden/src/models/flowerModel.ts
  services/garden/src/routes/router.ts
  services/garden/src/services/flowerRepository.ts
  services/garden/src/services/flowerService.ts
  services/garden/src/utils/flowerLogger.ts
  services/task/src/services/taskService.ts
Due: run-garden-service-workflow

feat(task, flower): DTO eklendi, gerekli düzenlemeler yapıldı
  services/garden/src/controllers/flowerController.ts
  services/garden/src/services/flowerService.ts
  services/garden/src/utils/flowerLogger.ts
  services/task/src/models/taskDTO.ts
  services/task/src/services/taskService.ts
Due: run-garden-service-workflow

FMN-51 | Task stats + completion + daily stats endpoints eklendi
  services/task/package-lock.json
  services/task/package.json
  services/task/src/controllers/taskController.ts
  services/task/src/models/taskModel.ts
  services/task/src/routes/router.ts
  services/task/src/services/gardenClient.ts
  services/task/src/services/taskRepository.ts
  services/task/src/services/taskService.ts
Due: none

Task düzenlemeleri yapıldı, modeller düzenlendi.
  services/garden/src/models/flowerModel.ts
  services/garden/src/models/gardenModel.ts
  services/garden/src/services/flowerRepository.ts
  services/garden/src/services/flowerService.ts
  services/garden/src/services/gardenRepository.ts
  services/garden/src/services/gardenService.ts
  services/task/src/controllers/taskController.ts
  services/task/src/middlewares/rateLimitMiddleWare.ts
  services/task/src/models/taskDTO.ts
  services/task/src/models/taskModel.ts
  services/task/src/routes/router.ts
  services/task/src/services/taskRepository.ts
  services/task/src/services/taskService.ts
  services/task/src/utils/dateParser.ts
Due: run-garden-service-workflow

Update Node.js version in Dockerfile and package files; adjust package version and dependencies
  services/habit/Dockerfile
  services/habit/package-lock.json
  services/habit/package.json
Due: none

Revert version number in package.json from 1.0.6 to 1.0.5
  services/habit/package.json
Due: none

Revert "Revert version number in package.json from 1.0.6 to 1.0.5"
  services/habit/package.json
Due: none

Downgrade Node.js version in Dockerfile from 20-slim to 18-slim
  services/habit/Dockerfile
Due: none

Fix Dockerfile path for package.json and revert package-lock.json version to 1.0.5
  services/habit/Dockerfile
  services/habit/package-lock.json
Due: none

Update WORKDIR in Dockerfile to specify service path
  services/habit/Dockerfile
Due: none

Refactor Dockerfile to simplify WORKDIR and COPY commands
  services/habit/Dockerfile
Due: none

Update uuid dependency version from 13.0.0 to 8.3.2 in package.json and package-lock.json
  services/habit/package-lock.json
  services/habit/package.json
Due: none

Path conditions:
  run-login-service-workflow: any of: services/login/.*
  run-garden-service-workflow: any of: services/garden/.*
  run-user-service-workflow: any of: services/user/.*
